@import url('https://fonts.cdnfonts.com/css/general-sans');

@import "tailwindcss" important;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



* {
  scroll-behavior: smooth;
}

body {
  background: #010103;
  font-family: 'General Sans', sans-serif;
}


@layer utilities {
  .c-space {
    @apply px-10 ;
  }

  .head-text {
    @apply sm:text-4xl text-3xl font-semibold;
  }

  .nav-ul {
    @apply flex flex-col items-center gap-4  md:flex-row relative z-20 lg:gap-10;
    
  }
  
  .nav-li {
    @apply text-neutral-400 hover:text-white max-sm:w-full max-sm:rounded-md py-2 max-sm:px-5;
  }

  .nav-li_a {
    @apply text-[20px]  hover:text-white transition-colors;
  }

  .nav-sidebar {
    @apply absolute left-0 right-0 mt-3 backdrop-blur-sm transition-all duration-300 ease-in-out overflow-hidden z-20  ;
  }


  /* button component */
  .btn {
    @apply flex gap-4 items-center justify-center cursor-pointer p-3 rounded-md transition-all active:scale-95 text-white mx-auto;
  }

  .btn-ping {
    @apply animate-ping absolute inline-flex h-full w-full rounded-full bg-green-400 opacity-75;
  }

  .btn-ping_dot {
    @apply relative inline-flex rounded-full h-3 w-3 bg-green-500;
  }

  /* hero section */
  .hero_tag {
    @apply text-center xl:text-6xl md:text-4xl sm:text-4xl text-3xl font-black !leading-normal;
  }

  /* about section */
  .grid-container {
    @apply w-full h-full border rounded-lg sm:p-7 p-4 flex flex-col gap-5;
  }

  .grid-headtext {
    @apply text-xl font-semibold mb-2 text-white;
  }

  .grid-subtext {
    @apply text-[#afb0b6] text-base;
  }

  .copy-container {
    @apply cursor-pointer flex
  }
}

 /* hero section */
 .hero_tag {
  @apply text-center xl:text-6xl md:text-5xl sm:text-4xl text-3xl  font-black !leading-normal;
}

.waving-hand {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(14deg);
  }
  30% {
    transform: rotate(-8deg);
  }
  40% {
    transform: rotate(14deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  60% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
